@import "../variables";

.c_breadcrumbs{
    margin: 6rem 0 5rem 5%;
    padding-left: 0px;
    font-size: 1.2rem;
    font-weight: 300;
    li{
        display: inline;
        list-style-type: none;
    }
    li:before{
        content: " > ";
    }
    li:first-child:before {
        content: none;
    }
}