<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <title>イベのスケ | サインアップ</title>
    <meta content="スケジュール調整Webアプリ「イベのスケ」" name="title">
    <meta content="スケジュール調整アプリです。" name="description">
    <meta content="スケジュール調整" name="keywords">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./../stylesheet/style.css" rel="stylesheet">
    <!-- font-awesome -->
    <script src="https://kit.fontawesome.com/03ebcee952.js" crossorigin="anonymous"></script>
    <!-- jquery CDN -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>

<body>
    <header>
        <h1 class="visuallyhidden">イベのスケ | サインアップ</h1>
    </header>
    <main>
        <ul class="c_breadcrumbs">
            <li><a href="./show_event_list.php">HOME</a></li>
            <li><a href="./show_event_list_detail.php?eId={{event.info.eId}}">イベント詳細（{{event.info.eName}}）</a></li>
            <li>イベント参加登録（{{event.info.eName}}）</li>
        </ul>
        <h2 class="ml-default">公演情報</h2>
        <article class="p-show-event-list-detail_info">
            <h3>{{event.info.eName}}</h3>
            <dl>
                <div>
                    <dt>公演名</dt>
                    <dd>{{event.info.eName}}</dd>
                </div>
                <div>
                    <dt>開催地</dt>
                    <dd>{{event.info.ePlace}}</dd>
                </div>
                <div>
                    <dt>開催期間</dt>
                    <dd>{{event.info.getEStartDayByFilter}}~{{event.info.getEEndDayByFilter}}</dd>
                </div>
                <div>
                    <dt>参加希望締め切り日</dt>
                    <dd>{{event.info.getEDeadlineByFilter}}</dd>
                </div>
            </dl>
            </div>
        </article>
        <article class="p-event-entry_form">
            <h3>希望する日程を選択してください</h3>
            <form action="" method="post">
                {% for data in event.candidates %}
                <div class="p-event-entry_form__candidate-box">
                    <p>{{data.candidate.getCDateByFilter}}</p>
                    <ul>
                        {% for candidateTime in data.candidate_time %}
                        <li>
                            <input type="checkbox" name="entry[]" value="{{candidateTimeObject.ctId}}" id="entry{{candidateTime.info.ctId}}" class="c_selectbox__input">
                            <label for="entry{{candidateTime.info.ctId}}" class="c_selectbox__label">
                                <div>
                                    <div class="p-event-entry_form__status-icon--many"></div>
                                    <p>{{candidateTime.info.getCtTimeByFilter}}～</p>
                                </div>
                                <div><i class="fas fa-check"></i></div>
                                <p><span>{{candidateTime.count.hCount}}</span>人</p>
                            </label>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                {% endfor %}
                <div class="c_form-box__button-box">
                    <button class="c_form-box__btn-nomal" name="btn" value="goConfirm">決定</button>
                </div>
            </form>
        </article>
    </main>
    <script src="./../javascripts/variableLengthFormDetail.js"></script>
</body>

</html>