<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <title>イベのスケ | サインアップ</title>
        <meta content="スケジュール調整Webアプリ「イベのスケ」" name="title">
        <meta content="スケジュール調整アプリです。" name="description">
        <meta content="スケジュール調整" name="keywords">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="./../stylesheet/style.css" rel="stylesheet">
        <!-- font-awesome -->
        <script src="https://kit.fontawesome.com/03ebcee952.js" crossorigin="anonymous"></script>
	    <!-- jquery CDN -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    </head>
    <body>
        <header>
            <h1 class="visuallyhidden">イベのスケ | サインアップ</h1>
        </header>
        <main>
            <ul class="c_breadcrumbs">
                <li>HOME</li>
                <li>新規会員登録</li>
            </ul>
            <article class="c_form-box">
                <h2>イベント追加</h2>
                <form method="post" action="./signup_confirm.php">
                    <div class="c_form-box__input-box">
                        <label for="addEName">イベント名</label>
                        <input id="addEName" name="addEName" type="text" value="">
                        <p></p>
                    </div>
                    <div class="c_form-box__input-box">
                        <label for="addEPlace">開催地</label>
                        <input id="addEPlace" name="addEPlace" type="text" value="">
                        <p></p>
                    </div>
                    <div class="c_form-box__input-box">
                        <label for="addEAbout">イベント説明文</label>
                        <textarea id="addEAbout" name="addEAbout" type="text" value=""></textarea>
                        <p></p>
                    </div>
                    <div class="c_form-box__input-box">
                        <label for="addEDeadline">参加希望日程　締め切り日</label>
                        <input id="addEDeadline" class="width40" name="addEDeadline" type="text" value="" placeholder="例）20220612">
                        <p></p>
                    </div>
                    <div class="c_form-box__input-box">
                        <label for="scope">開催期間</label>
                        <div class="c_form-box__input-box-wrapper">
                            <input id="scope" class="width40" name="start" type="text" value="" placeholder="例）20220612"> ~ 
                            <input id="scope" class="width40" name="end" type="text" value="" placeholder="例）20220724">
                        </div>
                        <p></p>
                    </div>
                    <div class="c_form-box__input-variable-length-box-wrapper">
                        <label for="scope">月曜日</label>
                        <p></p>
                        <div class="c_form-box__input-variable-length-box-add-btn">
                            <i class="fas fa-plus-square"></i>開催時刻を追加する
                        </div>
                    </div>
                    <div class="c_form-box__input-variable-length-box-wrapper">
                        <label for="scope">火曜日</label>
                        <p></p>
                        <div class="c_form-box__input-variable-length-box-add-btn">
                            <i class="fas fa-plus-square"></i>開催時刻を追加する
                        </div>
                    </div>
                    <div class="c_form-box__input-variable-length-box-wrapper">
                        <label for="scope">水曜日</label>
                        <p></p>
                        <div class="c_form-box__input-variable-length-box-add-btn">
                            <i class="fas fa-plus-square"></i>開催時刻を追加する
                        </div>
                    </div>
                    <div class="c_form-box__input-variable-length-box-wrapper">
                        <label for="scope">木曜日</label>
                        <p></p>
                        <div class="c_form-box__input-variable-length-box-add-btn">
                            <i class="fas fa-plus-square"></i>開催時刻を追加する
                        </div>
                    </div>
                    <div class="c_form-box__input-variable-length-box-wrapper">
                        <label for="scope">金曜日</label>
                        <p></p>
                        <div class="c_form-box__input-variable-length-box-add-btn">
                            <i class="fas fa-plus-square"></i>開催時刻を追加する
                        </div>
                    </div>
                    <div class="c_form-box__input-variable-length-box-wrapper">
                        <label for="scope">土曜日</label>
                        <p></p>
                        <div class="c_form-box__input-variable-length-box-add-btn">
                            <i class="fas fa-plus-square"></i>開催時刻を追加する
                        </div>
                    </div>
                    <div class="c_form-box__input-variable-length-box-wrapper">
                        <label for="scope">日曜日</label>
                        <p></p>
                        <div class="c_form-box__input-variable-length-box-add-btn">
                            <i class="fas fa-plus-square"></i>開催時刻を追加する
                        </div>
                    </div>
                    <div class="c_form-box__button-box">
                        <button class="c_form-box__btn-nomal">確認画面へ</button>
                        <button class="c_form-box__btn-nomal">日程詳細設定へ</button>
                    </div>
                </form>
            </article>
        </main>
        <script src="./../javascripts/variableLengthForm.js"></script>
    </body>
</html>