<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <title>イベのスケ | サインアップ</title>
    <meta content="スケジュール調整Webアプリ「イベのスケ」" name="title">
    <meta content="スケジュール調整アプリです。" name="description">
    <meta content="スケジュール調整" name="keywords">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./../stylesheet/style.css" rel="stylesheet">
    <!-- font-awesome -->
    <script src="https://kit.fontawesome.com/03ebcee952.js" crossorigin="anonymous"></script>
    <!-- jquery CDN -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>

<body>
    <header>
        <h1 class="visuallyhidden">イベのスケ | サインアップ</h1>
    </header>
    <main>
        <ul class="c_breadcrumbs">
            <li>HOME</li>
        </ul>
        <h2 class="ml-default">公演情報</h2>
        <article class="p-show-event-list-detail_info">
            <h3>マグノリア銀行からの脱出</h3>
            <dl>
                <div>
                    <dt>公演名</dt>
                    <dd>マグノリア銀行からの脱出</dd>
                </div>
                <div>
                    <dt>開催地</dt>
                    <dd>リアル脱出ゲーム大阪心斎橋店</dd>
                </div>
                <div>
                    <dt>開催期間</dt>
                    <dd>2022年7月21日~2022年8月22日</dd>
                </div>
                <div>
                    <dt>参加希望締め切り日</dt>
                    <dd>2022年7月20日</dd>
                </div>
            </dl>
            </div>
        </article>
        <article class="p-event-entry_form">
            <h3>希望する日程を選択してください</h3>
            <form action="">
                <div class="p-event-entry_form__candidate-box">
                    <p>2022/06/19</p>
                    <ul>
                        <li>
                            <input type="checkbox" name="fruits" value="1" id="apple1" class="c_selectbox__input">
                            <label for="apple1" class="c_selectbox__label">
                                <div>
                                    <div class="p-event-entry_form__status-icon--many"></div>
                                    <p>19:00～</p>
                                </div>
                                <div><i class="fas fa-check"></i></div>
                                <p><span>4</span>人</p>
                            </label>
                        </li>
                        <li>
                            <input type="checkbox" name="fruits" value="1" id="apple2" class="c_selectbox__input">
                            <label for="apple2" class="c_selectbox__label">
                                <div>
                                    <div class="p-event-entry_form__status-icon--many"></div>
                                    <p>19:00～</p>
                                </div>
                                <div><i class="fas fa-check"></i></div>
                                <p><span>4</span>人</p>
                            </label>
                        </li>
                        <li>
                            <input type="checkbox" name="fruits" value="1" id="apple3" class="c_selectbox__input">
                            <label for="apple3" class="c_selectbox__label">
                                <div>
                                    <div class="p-event-entry_form__status-icon--many"></div>
                                    <p>19:00～</p>
                                </div>
                                <div><i class="fas fa-check"></i></div>
                                <p><span>4</span>人</p>
                            </label>
                        </li>
                    </ul>
                </div>
                <div class="p-event-entry_form__candidate-box">
                    <p>2022/06/19</p>
                    <ul>
                        <li>
                            <input type="checkbox" name="fruits" value="1" id="apple1" class="c_selectbox__input">
                            <label for="apple1" class="c_selectbox__label">
                                <div>
                                    <div class="p-event-entry_form__status-icon--many"></div>
                                    <p>19:00～</p>
                                </div>
                                <div><i class="fas fa-check"></i></div>
                                <p><span>4</span>人</p>
                            </label>
                        </li>
                        <li>
                            <input type="checkbox" name="fruits" value="1" id="apple2" class="c_selectbox__input">
                            <label for="apple2" class="c_selectbox__label">
                                <div>
                                    <div class="p-event-entry_form__status-icon--many"></div>
                                    <p>19:00～</p>
                                </div>
                                <div><i class="fas fa-check"></i></div>
                                <p><span>4</span>人</p>
                            </label>
                        </li>
                        <li>
                            <input type="checkbox" name="fruits" value="1" id="apple3" class="c_selectbox__input">
                            <label for="apple3" class="c_selectbox__label">
                                <div>
                                    <div class="p-event-entry_form__status-icon--many"></div>
                                    <p>19:00～</p>
                                </div>
                                <div><i class="fas fa-check"></i></div>
                                <p><span>4</span>人</p>
                            </label>
                        </li>
                    </ul>
                </div>
                <div class="p-event-entry_form__candidate-box">
                    <p>2022/06/19</p>
                    <ul>
                        <li>
                            <input type="checkbox" name="fruits" value="1" id="apple1" class="c_selectbox__input">
                            <label for="apple1" class="c_selectbox__label">
                                <div>
                                    <div class="p-event-entry_form__status-icon--many"></div>
                                    <p>19:00～</p>
                                </div>
                                <div><i class="fas fa-check"></i></div>
                                <p><span>4</span>人</p>
                            </label>
                        </li>
                        <li>
                            <input type="checkbox" name="fruits" value="1" id="apple2" class="c_selectbox__input">
                            <label for="apple2" class="c_selectbox__label">
                                <div>
                                    <div class="p-event-entry_form__status-icon--many"></div>
                                    <p>19:00～</p>
                                </div>
                                <div><i class="fas fa-check"></i></div>
                                <p><span>4</span>人</p>
                            </label>
                        </li>
                        <li>
                            <input type="checkbox" name="fruits" value="1" id="apple3" class="c_selectbox__input">
                            <label for="apple3" class="c_selectbox__label">
                                <div>
                                    <div class="p-event-entry_form__status-icon--many"></div>
                                    <p>19:00～</p>
                                </div>
                                <div><i class="fas fa-check"></i></div>
                                <p><span>4</span>人</p>
                            </label>
                        </li>
                    </ul>
                </div>
            </form>
        </article>
    </main>
    <script src="./../javascripts/variableLengthFormDetail.js"></script>
</body>

</html>