<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <title>イベのスケ | サインアップ</title>
        <meta content="スケジュール調整Webアプリ「イベのスケ」" name="title">
        <meta content="スケジュール調整アプリです。" name="description">
        <meta content="スケジュール調整" name="keywords">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="./../stylesheet/style.css" rel="stylesheet">
        <!-- font-awesome -->
        <script src="https://kit.fontawesome.com/03ebcee952.js" crossorigin="anonymous"></script>
	    <!-- jquery CDN -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    </head>
    <body>
        <header>
            <h1 class="visuallyhidden">イベのスケ | サインアップ</h1>
        </header>
        <main>
            <ul class="c_breadcrumbs">
                <li>HOME</li>
            </ul>
            <h2 class="ml-default">公演情報</h2>
            <article class="p-show-event-list-detail_info">
               <h3>マグノリア銀行からの脱出</h3>
               <dl>
                    <div>
                        <dt>公演名</dt>
                        <dd>マグノリア銀行からの脱出</dd>
                    </div>
                    <div>
                        <dt>開催地</dt>
                        <dd>リアル脱出ゲーム大阪心斎橋店</dd>
                    </div>
                    <div>
                        <dt>イベント情報</dt>
                        <dd>
                            あなたたちは、マグノリア銀行に忍び込んだ高名な盗賊団。
                            計画はすべて順調 数々の警備システムを突破し、
                            機密文書の眠る金庫の前にたどり着いた。
                            残るは、金庫を破るだけ―――
                            しかし、そのとき！！！！
                            館内に警報音が鳴り響いた！！！ 迫り来る警備員の足音
                            次々にロックされていく扉
                            最新の警備システムがあなたたちを完全に閉じ込めてしまった！
                            60分以内にすべての警備を突破し、機密文書を盗み出さなければ、
                            捕まってしまう！！！
                            さあ、あなたたちは銀行に仕掛けられたすべての謎を解き明かし、
                            この銀行から脱出することができるだろうか！！！
                        </dd>
                    </div>
                    <div>
                        <dt>開催期間</dt>
                        <dd>2022年7月21日~2022年8月22日</dd>
                    </div>
                    <div>
                        <dt>参加希望締め切り日</dt>
                        <dd>2022年7月20日</dd>
                    </div>
               </dl>
               <div class="c_button__box">
                <div class="c_button__btn--nomal"><a href="">　　　参加を希望する！　　</a></div>
            </div>
            </article>
            <article class="p-show-event-list-detail_state">
                <h3>現在の参加者状況</h3>
                <div>
                    <p>2022/06/19</p>
                    <ul>
                       <li>
                            <div class="p-show-event-list-detail_state__status-icon--many"></div>
                            <div>10:00~</div>
                            <div>参加希望者<span>4</span>人</div>
                       </li> 
                       <li>
                            <div class="p-show-event-list-detail_state__status-icon--fair"></div>
                            <div>10:00~</div>
                            <div>参加希望者<span>4</span>人</div>
                        </li> 
                        <li>
                             <div class="p-show-event-list-detail_state__status-icon--few"></div>
                             <div>10:00~</div>
                             <div>参加希望者<span>4</span>人</div>
                         </li> 
                    </ul>
                </div>
            </article>
        </main>
        <script src="./../javascripts/variableLengthFormDetail.js"></script>
    </body>
</html>